@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Libre+Franklin:wght@100;400;500&display=swap');


.email_box {
	background: #141c21;
	display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
    gap: 20px;
}

.email_box_info {
	display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.email_box img {
	width: 24px;
	height: 24px;
}

.email_box p {
	color: #fff;
	font-size: 15px;
}

.menu__link__language {
	color: #fff!important;
	padding: 3px 13px!important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: relative;
    z-index: 5;
    background: linear-gradient(to right, #feae00 0 220px, white 220px 100%);
}

.logo img {
    height: 40px;
}

.nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 0 15px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 340px;
    background: #feae00;
    clip-path: polygon(0 0, 300px 0, 100% 100%, 0 100%);
    z-index: -1;
}

.vertical-divider {
    width: 1px;
    background-color: #141c21;
    height: 30px;
    margin: 6px 50px;
}

.header-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
}

.header-right div button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	background: #feae00;
	color: #000;
	padding: 13px 50px;
	text-transform: uppercase;
	font-weight: bold;
}

.menu__icon {
	width: 60px;
	height: 60px;
}

.desktop-nav {
	gap: 45px!important;
}

.form__bg {
	clip-path: polygon(100% 0, 100% 72%, 0% 250%, 0% 0%);
}

.desktop-nav, .desktop { display: flex; }
.mobile-menu { display: none; }

/* SECTION */
.what-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.what-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
}

.about-section {
    flex: 1;
    min-width: 300px;
}

.about-section h1 {
    font-size: 45px;
    margin: 10px 0;
    color: #000;
    font-bold: 700;
}

.about-section p {
    font-size: 15px;
    color: #000;
    max-width: 500px;
}

.section-breef {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.section-breef-number {
	background: #feae00;
	border-radius: 50px;
	padding: 3px 6px;
	color: #000;
	font-weight: bold;
}

.section-breef-text {
	color: #000;
	font-size: 20px;
}

.stats {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    font-weight: bold;
    flex-wrap: wrap;
}

.stats span {
	font-size: 18px;
	color: #000;
}

.read-more-btn {
    display: inline-block;
    background: #feae00;
    color: #000;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 50px 50px;
    flex-wrap: wrap;
}

.bottom-text {
    flex: 1;
    min-width: 300px;
}

.bottom-text h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.bottom-text p {
    font-size: 14px;
    color: #000;
}

.years {
    font-size: 28px;
    color: #000;
    font-weight: bold;
}

.bottom-img {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 300px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.bottom-img p {
	color: #000;
	text-align: left;
}

.bottom-img img {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.read-more-outline {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 20px;
    text-transform: uppercase;
}

.read-more-outline:hover {
    background: #f8f8f8;
}
.vertical-divider-2 {
	margin: 0 50px;
	height: 50px;
}

.vertical-divider-3 {
	margin: 0;
}

.vertical-divider-3 {
	height: 100px;
}

.bottom-section-1 {
	display: flex;
    align-items: center;
}

.bottom-section-1 img {
	max-width: 300px;
}

/* NEXT SECTION */
.centered {
	justify-content: center;
}

.section_our_company_values {
	background: #f8f8f8;
	padding-block: 30px!important;
}

.cards-wrapper {
    display: flex;
    gap: 100px;
    align-items: stretch;
    margin-top: 50px;
}

.card-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-body {
    flex: 1;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 300px;
    transition: background 0.3s, color 0.3s;
}

.card-body img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0 auto 15px;
}

.card-title {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #000;
    transition: color 0.3s;
}

.card-body p {
    color: #000;
    transition: color 0.3s;
}

.read-more-btn-2 {
    display: inline-block;
    color: #000;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: color 0.3s;
    text-decoration: none;
    text-transform: uppercase;
}

.read-more-btn-2 span {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.card-item:hover .card-body {
    background: #141c21;
}

.card-item:hover .card-body .card-title,
.card-item:hover .card-body p {
    color: #fff;
}

.card-item:hover .card-body .read-more-btn-2 {
    color: #feae00;
}

/* NEXT SECTION */
.why {
    background-image: url("../assets/bg__why.webp");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-color: #00050b;
    min-height: 300px;
    position: relative;
}

.why::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 62%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.why > * {
    position: relative;
    z-index: 2;
}

.why-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px auto;
	gap: 50px;
}

.why .title-2 {
	color: #fff;
}

.stats-box {
    background-color: #f5a100;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    min-width: 200px;
    text-align: center;
}

.stats-box .stat h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.stats-box .stat p {
    font-size: 1rem;
    color: #000;
    margin: 5px 0 0;
}

.why-text {
    max-width: 500px;
    color: #fff;
}

.btn-login {
	margin-top: 50px;
	padding: 12px 50px;
}

/* NEXT SECTION */
.begin-container {
	display: flex;
	gap: 100px;
}

.begin-section {
	flex: 1;
}

.begin-section h1 {
    font-size: 45px;
    margin: 10px 0;
    color: #000;
    font-bold: 700;
}

.begin-section p {
	color: #000;
}

.begin-btn {
	margin-top: 50px;
}

.steps {
	flex: 1;
	position: relative;
}

.block__wrap {
	display: flex;
}

.block__item {
	background: #fff;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 400px;
}

.block__item-number {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.circle {
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
  	height: 70px;
  	width: 70px;
  	border-radius: 50%;
}

.block__title__text {
	color: #000;
	font-size: 14px;
}

.block__item-2 {
	position: relative;
	left: 20%;
}

.step__image__1 {
	position: absolute;
	left: 75%;
    top: 22%;
}

.step__image__2 {
	position: absolute;
	left: 3%;
    top: 50%;
}

/* FAQ SECTION */
.faq h1 {
	margin-top: 20px;
	max-width: 450px;
}

.answer {
	width: 7%;
	font-weight: bold;
    color: #000;
    font-size: 18px;
}

.spoiler__text {
	display: none;
    flex-direction: row;
    align-items: flex-start;
}

.spoiler__text._visible {
    display: flex;
}

.faq__spoiler {
	background: #f8f8f8;
}

.spoiler__item:last-child {
    border-bottom: none;
}

.form-contact-2 {
	border: 1px solid #000;
	padding: 20px;
}

.form-contact-2 h1 {
	font-size: 20px!important;
	margin-top: 0;
}

.form-contact-2 button {
	text-transform: uppercase;
	font-weight: bold;
}

.faq__column, .faq__spoiler { flex: 1; }

/* JOIN SECTION */
.join {
    background-image: url("../assets/bg__join.webp");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-color: #00050b;
    min-height: 300px;
    position: relative;
}

.join::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 62%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.join > * {
    position: relative;
    z-index: 2;
}

.join-div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 50px auto;
}

.join .title-2 {
	color: #fff;
}

.register__button__1 {
	display: flex;
}

.register__button__1 button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #feae00;
    color: #000;
    padding: 13px 50px;
    text-transform: uppercase;
    font-weight: bold;
}

/* FOOTER */
footer .nav a {
	color: #fff;
}

.nav1 .nav__link:hover {
	text-decoration: none!important;
}

.nav1 .nav__link a:hover {
	color: #feae00;
}

/* OTHER PAGES */
.bg__others {
    position: relative;
    background-image: url("../assets/bg__others.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #00050b;
    min-height: 100%;
}

.bg__others::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.bg__others > * {
    position: relative;
    z-index: 2;
}

.form-contact-page {
	padding: 40px !important;
    clip-path: polygon(100% 0, 100% 84%, 0% 250%, 0% 0%) !important;
}

.header-pages {
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

.join-2 {
    background-image: url("../assets/bg__join-2.webp");
    background-size: cover;
    background-position: center 59%;
    background-repeat: no-repeat;
    background-color: #00050b;
    min-height: 300px;
    position: relative;
}

.join-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 62%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.join-2 > * {
    position: relative;
    z-index: 2;
}

.join-2 .title-2 {
	color: #fff;
}

.container-section {
	background: #fff;
}

.card-body-about {
    flex: 1;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 300px;
    transition: background 0.3s, color 0.3s;
}

.card-item-about {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.card-item:hover .card-body-about {
    background: transparent;
}

.card-item:hover .card-body-about .card-title,
.card-item:hover .card-body-about p {
    color: #000;
}

.card-item:hover .card-body-about .read-more-btn-2 {
    color: #000;
}

.goals {
    background-image: url("../assets/bg__goals.webp");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-color: #00050b;
    min-height: 300px;
    position: relative;
}

.goals::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 62%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.goals > * {
    position: relative;
    z-index: 2;
}

.why-div-about {
	justify-content: flex-end;
}

.steps-about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps-about h1 {
	color: #000;
	font-size: 25px;
}

.block__wrap-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.block__hold-about {
	width: 100%!important;
}

.block__title__text-about {
    font-size: 18px;
    font-weight: bold;
}

.step__image__1-about {
	transform: rotate(33deg);
	left: 87%;
    top: 29%;
}

@media (max-width: 768px) {
	.desktop-nav, .desktop, .registration, .home__content__image, .footer-nav, .vertical-divider, .menu__icon, .register__button, .step__image__1, .step__image__2
	 { display: none!important; }
    .mobile-menu { 
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    #menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh; 
        background: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        padding-top: 100px; 
    }
    #menu.overlay { 
        display: block; 
        z-index: 49;
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    #menu a {
        color: #fff;
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    #burger-menu { 
        cursor: pointer; 
        height: 27px; 
        width: 27px; 
        position: relative; 
        z-index: 50; 
    }
    #burger-menu span, #burger-menu span:before, #burger-menu span:after {
        background: #000; 
        display: block; 
        height: 2px; 
        position: absolute; 
        transition: 0.3s ease-in-out;
    }

    #burger-menu.close span, #burger-menu.close span:before, #burger-menu.close span:after {
    	background: #fff;
    }

    #burger-menu span:before, #burger-menu span:after { content: ''; }
    #burger-menu span:before { 
        left: 0; 
        top: -10px; 
        width: 27px; 
    }
    #burger-menu span { 
        right: 0; 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu span:after { 
        left: 0; 
        top: 10px; 
        width: 27px; 
    }
    #burger-menu.close span:before { 
        top: 0; 
        transform: rotate(90deg); 
        width: 27px; 
    }
    #burger-menu.close span { 
        transform: rotate(-45deg); 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu.close span:after { 
        top: 0; 
        left: 0; 
        transform: rotate(90deg); 
        opacity: 0; 
        width: 0; 
    }

    .email_box div {
        justify-content: center;
    }

    .submenu {
		width: 100%;
	}

	.form__bg {
		clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 0%);
	}

	.join-div {
		flex-direction: column;
		gap: 10px;
	}

	.register__button__1 {
		margin: 0 auto;
	}

	.what-container img { display: none; }

	.bottom-section { padding: 50px 0 50px; }

	.bottom-img img { max-width: 200px; }

	.cards-wrapper { gap: 50px; }

	.begin-section h1 {
		font-size: 30px;
	}

	.block__item-2 {
		left: 0;
	}

	.faq__row {
		flex-direction: column;
	}

	.answer {
		width: 10%;
	}

	.faq__column .btn {
		max-width: 100%!important;
	}

	.title-form-others {
		font-size: 20px;
	    text-align: center;
	}
}

@media (max-width: 438px) {
	.email_box {
		justify-content: center;
		padding: 10px;
	}

	.email_box p {
		font-size: 12px;
	}

	.submenu {
		width: 111%!important;
	}

	.header {
		padding: 0px 20px;
	}

	.nav1 {
		flex-direction: column;
	}

	.copyright {
		text-align: left!important;
	}

	.about-section h1 {
		font-size: 30px;
	}

	.cards-wrapper {
		flex-direction: column;
	}

	.why-div {
		flex-direction: column;
	}

	.begin-container {
		flex-direction: column;
		gap: 0;
	}

	.spoiler__text {
		padding: 0 20px 15px 33px!important;
	}

	.answer {
		width: 20%;
	}
}

@media (max-width: 375px) {
	.header::before {
		width: 320px;
    	clip-path: polygon(0 0, 250px 0, 89% 100%, 0 100%);
	}

	.about-section h1 {
		font-size: 25px;
	}
}

@media (max-width: 320px) {
	.answer {
		width: 30%;
	}

	.block__title__text-about {
		font-size: 16px;
	}
}